// place your custom styles here
.vp-sidebar {
  box-shadow: 0 2px 8px var(--card-shadow);
  padding-left: 0;
}
.theme-container.no-sidebar.has-toc .vp-page{
  padding-inline-end: 0px;
}
.vp-sidebar > .vp-sidebar-links > li > .vp-sidebar-link {
  font-size: 1em;
}
.vp-navbar .vp-nav-item .vp-link .icon {
  font-size: 1.3em;
}
.vp-navbar .vp-dropdown-title .icon {
  font-size: 1.3em;
}

.vp-navbar .vp-dropdown-item .icon {
  font-size: 1em !important;
}

.vp-card-desc {
  color: var(--vp-card-color);
  font-size: 0.65em;
}

.vp-card {
  max-width: 500px;
}