// you can change colors here
$theme-colors: #2196f3, #f26d6d, #3eaf7c, #b3c7ff;
$bg-color: (
  light: #ffffff,
  dark: #0a0a0a,
);
$content-width: 1160px;
$vp-card-color: #ffffff;
$vp-card-bg-color: #084879;
$sidebar-width: 18.75rem;
$text-color: (
  light: #494a4e,
  dark: #e9e9e9,
);
$grey-dark: (
  light: #17181c,
  dark: #f7ecec,
);
$grey-light: (
  light: #353333,
  dark: #b3c7ff,
);