// you can change colors here
@font-face {
  font-family: 'Punctuation SC';
  src: url('/fonts/PingFangSC-Light.ttf'); //你的资源目录
  font-weight: normal;
  font-style: normal;
}

$bg-color: (
  light: #ffffff,
  dark: #1b1b1f,
);

$content-width: 1050px;

$vp-card-color: #ffffff;

$vp-card-bg-color: #084879;

$sidebar-width: 18.75rem;

$text-color: (
  light: #494a4e,
  dark: #e4d8d8,
);

$grey-dark: (
  light: #17181c,
  dark: #f7ecec,
);

$grey-light: (
  light: #67696e,
  dark: #b3c7ff,
);

$font-family: '"Punctuation SC","Inter",ui-sans-serif,system-ui,"PingFang SC","Noto Sans CJK SC","Noto Sans SC","Heiti SC","Microsoft YaHei","DengXian",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" ';
$font-family-heading: '"Punctuation SC","Inter",ui-sans-serif,system-ui,"PingFang SC","Noto Sans CJK SC","Noto Sans SC","Heiti SC","Microsoft YaHei","DengXian",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" ';