// you can change colors here
// @font-face {
//   font-family: 'Punctuation SC';
//   src: url('/fonts/PingFangSC-Light.ttf'); //你的资源目录
//   font-weight: normal;
//   font-style: normal;
// }

$bg-color: (
  light: #ffffff,
  dark: #1b1b1f,
);

$content-width: 1050px;

$vp-card-color: #ffffff;

$vp-card-bg-color: #084879;

$sidebar-width: 18.75rem;

// 内容字体颜色
$text-color: (
  light: #494a4e,
  dark: #adadad,
);

$grey-dark: (
  light: #17181c,
  dark: #f7ecec,
);

$grey-light: (
  light: #67696e,
  dark: #b3c7ff,
);

// 内容字体
$font-family: 'Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif';

// 标题字体
$font-family-heading: 'Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif';

// WebNavbar组件变量
$web-navbar-bg: (
  light: #7fb5eb,
  dark: #1b3d5e,
);

$web-navbar-bg-active: (
  light: #8aece7,
  dark: #037d8d,
);

$web-navbar-border-active: (
  light: #1eeed2,
  dark: #1eeed2,
);

$web-navbar-color: (
  light: #212222,
  dark: #d3dddc,
);